{% load static  %}
<!DOCTYPE html>
<html>
    <head>
        <title>Tessnim ZRAYGA</title>
        <link href="{% static '/css/main.css' %}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    </head>
    <body>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div id="profile-wrapper" class="card card-body h-100 border-info">
                        <img id="profile-pic" src="{% static 'images/profile_picture.png' %}">
                        <br>
                        <h4>Hi, I'm Tessnim</h4>
                        <p>I love coding, doing research and collaborating</p>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="card card-body h-100 border-info">
                        <h4>Software Engineer</h4>
                        <br>
                        <p>My first job as a software engineer was developing an audit management system for the
                        company, It allows the audit responsible to make online surveys to employees.</p>
                        <p>This job was my first interaction with python, I worked with odoo ERP and I really enjoyed coding in Python</p>
                        <p>Now I moved to web development with Django, worked on some apis using Flask, worked on some data problems using
                        datascience libraries (scikit-learn and tensorflow) and still discovering the Python world.</p>

                        <ul class="social-links">
                            <li><img class="social" src="{% static 'images/facebook.png' %}"></li>
                            <li><img class="social" src="{% static 'images/linkedin.png' %}"></li>
                        </ul>

                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-body h-100">
                        <h5>My experience as a Developer</h5>
                        <br>
                        <p>Backend Developer at Solixy</p>
                        <p>In this role I worked on some projects that were a mix between web development and datascience</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card card-body h-100">
                        <h5>What I know</h5>
                        <br>
                        <p>Backend Developer at Solixy</p>
                        <p>In this role I worked on some projects that were a mix between web development and datascience</p>

                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-body h-100">
                        <h5>How I learn</h5>
                        <br>
                        <p>Backend Developer at Solixy</p>
                        <p>In this role I worked on some projects that were a mix between web development and datascience</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card card-body h-100">
                        <h5>My short-term goals</h5>
                        <br>
                        <p>Backend Developer at Solixy</p>
                        <p>In this role I worked on some projects that were a mix between web development and datascience</p>
                    </div>
                </div>
            </div>
            <br>
        </div>

    </body>
</html>